/*************************************************
            CONSTANTS CSS Section
*************************************************/
$grey : #F8F9FA;
$black : #363636;
$blue : #0089F6;
$light-blue: #2b9ef6;
$light-grey: #E8EEEA;


/*************************************************
            General CSS Section
*************************************************/
html,body{
    height: 100%;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    letter-spacing: .05em;
}
.blue-title{
    color:$blue;
    font-weight: 800;
}
.blue-title-light{
    color: #44a6c6;
    font-weight: normal;
}
.btn{
    font-weight: lighter;
}

p{
    font-size: 16px;
    color: #64707B;
    font-weight: lighter;
}
/*************************************************
            Button CSS generic
*************************************************/
.btn-blue{
    background-color: $blue;
    color:#fff;
    line-height: 30px;
    letter-spacing: 0.5px;
}

/*************************************************
            Home section CSS
*************************************************/




#home{
    height: 100%;
    color:#fff;
    background-color: #fff;

    .home-cover{
        background-image: url("../../assets/img/image.jpg");
        background-size: cover;
        height: 100%;
        position: relative;
        width: 100%;
        height: 100%;

        /* &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image:linear-gradient(to right,#111,#222);
            opacity: .3; 

          } */
    }

    .navbar {
        height: 100px;
        color:#fff;
    }

    .nav-link{
        color:#fff;
    }

    .home-content-box{
        width: 100%;
        height: 65%;
        display: table;
    }
    .home-content-box-inner{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    .home-heading h2{
        font-weight: lighter;
        font-size: 55px;
        color: #fff;
    }
    h4{
        font-weight: lighter;
    }


    .form-group-custom{
        background-color: #eee;
        opacity: 0.9;
        font-weight: lighter;
    }

    .trend-search .btn{
        height:30px;
        line-height: 15px;
        font-weight: lighter;
    }
}
/*************************************************
            Home section Animation
*************************************************/
.home-cover, 
.home-heading,
.home-btn{
    animation-duration: .5s    
}
.home-cover{
    animation-delay: .1s;
}
.home-heading{
    animation-delay: .5s;
}
.home-btn{
    animation-delay: 1s;    
}


/*************************************************
            Featured section 
*************************************************/
#featured{

    background-color: $light-grey;

    .card{
        margin: 20px;
    }
    
    .inner-featured{
        width: 100%;
        margin: 0 auto;
    }
    
    .fa-mine{
        color:#007bff;
    }
    .card-title{
        font-size: 13px;
        width: 50%;
        font-weight: bold;
        height: 35px;
        background-color: #eee;
        color:#111;
        float:left;
        border-radius: 25px;
        line-height: 35px;
        text-align: center;
    }

    .btn-heart{
        margin-left:55px;
        float: left;
        background-color: #eee;
    }

    .card-text2{
        font-weight: 300;
        font-size: 14px;
    }
    .card-text{
        color:royalblue;
    }
    
    .orange-star{
        color: orange;
    }
    .grey-star{
        color: grey;
    }
}


/*************************************************
            Popular Cat section 
*************************************************/
#popular{

    .fa,.fas{
        color:#007bff;
    }
    .badge-custom{
        background-color: #ddd;
        color:#333;
    }
}

/*************************************************
            Trending section 
*************************************************/
#trending{

    background-color: $light-grey;
 
    .trending-card-title{
        font-size: 13px;
        width: 50%;
        font-weight: bold;
        height: 35px;
        background-color: #eee;
        color:#111;
        float:left;
        border-radius: 25px;
        line-height: 35px;
        text-align: center;
    }

    .btn-heart{
        margin-left:40px;
        margin-right:5px;
        float: left;
        background-color: #eee;
    }

    .fa-mine{
        color:#007bff;
        width:100%;
    }
    .card-text{
        color:royalblue;
    }

    .orange-star{
        color: orange;
    }

    .row-flex {
        display: flex;
        flex-wrap: wrap;
      }
      
      /* vertical spacing between columns */
      [class*="col-"] {
        margin-bottom: 30px;
      }
      
      .content {
        height: 100%;
        background-color: #fff;
        box-shadow: 2px 2px 3px 3px #ddd;
      }
}

/*************************************************
            Testimonial section
*************************************************/
#testimonial{
    .testimonial-cover{
        color:#fff;
    }
    .customers-testimonials{
        padding: 50px 0;
    }
    .testimonial img{
        max-width: 120px;
        margin: 0 auto;
    }
    .testimonial blockquote{
        border: 0;
        font-family: Georgia, Times, serif;
        font-style: italic;
        padding: 10px 150px;
        color: #333;
        margin: 0 auto;
        position: relative;
    }
    .testimonial p{
        color: #333;
    }
    .testimonial blockquote p{
        margin: 10px auto;
    }
    .testimonial blockquote:before,
    .testimonial blockquote:after{
        font-size: 80px;
        font-style: normal;
        line-height: 1;
        width: 30px;
        height: 30px;
        position: absolute;
    }
    .testimonial blockquote:before{
        content: "\201C";
        top: 0;
        left: 100px;
    }
    .testimonial blockquote:after{
        content: "\201D";
        bottom: 0;
        right: 100px;
    }
    .testimonial-author p strong{
        display: block;
    }
}


/*************************************************
            Content Box section 
*************************************************/
.content-box{
    padding: 30px 0;

    .content-title h3{
        font-size: 30px;
        font-weight: 700px;
        text-align: center;
        margin: 0 0 30px;
    }
    .content-title-white{
        color: #fff;
    }
    .content-title-underline{
        width: 70px;
        height: 3px;
        margin: 0 auto 30px;
        background: $blue;
    }
}



/*************************************************
            Blogs section 
*************************************************/
#blogs{

    background-color: $light-grey;

    h4{
        font-weight: 600;
        color: $black;
    }
    small{
        color: $grey;
    }
    .news{
        color:blue;
        font-weight: 500;
        font-size: 14px;
    }

    p{
        color:$black;
        font-weight:400;
    }
}



/*************************************************
            Newsletter section 
*************************************************/
#newsletters{

    background-color:$blue;
    color: #fff;

    .email {
        display: inline-block;
        background: none;
        padding: 0.175rem 0.175rem 0.0875rem;
        font-size: 1.4rem;
        border-width: 0;
        border-color: transparent;
        line-height: 1.9;
        width: 400px;
        color: #fff;
        transition: all 0.28s ease;
        box-shadow: none;
        border-bottom: 2px solid white;
    }

    ::placeholder { 
        color: white;
        opacity: 1; /* Firefox */
    }

    .subscribe-btn{
        background-color:#dcdcdc;
        color:#111;
        font-weight: 900;
        border:none;
    }    
}


/*************************************************
            Footer section 
*************************************************/
#footer{

    background-color: $black;

    hr{
        background-color:$light-grey;
    }

    .contact-left p{
        color: #fff;
        margin-bottom: 30px;
    }

    .footer-bottom{
        width:100%;
        margin: 0 auto;
        
    }

    .footer-copyrights p{
        color: #fff;
    }

    .contact-info p{
        color:$light-grey;
    }

    .social-list{
        padding-left: 0;
    }
    .social-list li{
        list-style: none;
        display: inline-block;
        width: 32px;
        height: 32px;
        margin-right: 6px;
    }
    .social-icone i{
        font-size: 16px;
    }
    .icon-white{
        color: #fff;
    }
    .icon-gray{
        color: #64707B;
    }
    .icon-white:hover,
    .icon-gray:hover{
        color: #34C6D3;
    }

    .search-product{
        background-color: transparent;
        box-sizing: border-box;
        padding-left:10px;
        border: solid 0.2px #fff;
    }
}  